body{
    margin:50px;
    text-align:center;
    padding:50px;
}
.names,.hints{
    text-align:left;
}

input[loc='he']{
   background-image:url('../images/flags/Israel.png');
}
input[loc='en']{
    background-image:url('../images/flags/United-States.png');
}
input[loc='pt']{
    background-image:url('../images/flags/Brazil.png');
}
input[loc='it']{
    background-image:url('../images/flags/Italy.png');
}
input[loc='fr']{
    background-image:url('../images/flags/France.png');
}
input[loc='sp']{
    background-image:url('../images/flags/Spain.png');
}
input[loc='ru']{
    background-image:url('../images/flags/Russia.png');
}
input[loc]{
    background-repeat: no-repeat;
    background-position-x: right;
}

.missing{
    color:#bf1d1c;
}

